/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: Inter;
  --accent-font: "Press Start 2P";
  --bg-color: #fff;
  --accent-color: #000;
  --gradient-grid: #d3d3d3;
  --gradient-color-up: #e7e7e7;
  --gradient-color-down: #1a1a1a;
  --inter-weight-text: 400;
  --inter-weight-header: 700;
  --sparks-color: #ff0000;
  --contour-color: #000000;
  --core-color: #ff0000;
  --heart-color: #ff0000;
  --button-bg-color: #fff;
}
